.about-container {
	.about__content {
		&--heading {
			font-weight: bold;
		}

		&--text {
			margin: $space 0;
		}
	}
}

.about {
	background: white;
	margin-top: $space;
	padding: $space;
	border: 1px solid black;

	&__showMore {
		text-transform: uppercase;
	}
}
