header {
	min-height: 120px;
	background-color: #eceae0;
	margin-bottom: $space * 2;
	display: flex;
	justify-content: space-evenly;

	.container-fluid {
		max-width: 380px;
		margin: 0 auto;
		display: flex;
		align-items: center;

		.main-menu {
			display: flex;
			justify-content: space-between;
		}
	}

	li a {
		color: $dark;

		&:hover {
			transform: scale(1.3);
		}
	}
}
