/*
 * Color variables
*/

$light: #fff;
$dark: #000;
$link: #ffffff;
$text: $light;
$blue: #5caae6;
$opa: rgba(255, 255, 255, 0.1);


/*
 * Default settings
*/

$font-size: 16px;
$line-height: 140%;
$space: 20px;


/*
 * Device sizes
*/

$mobile: 480px;
$big-break: 1400px;
